*{
    box-sizing:border-box;
}

html , body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.page-wrapper{
    width:100%;
    height:100%;
}

header{
    width:100%;
    height:70%;
}

section{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
}

.header-wrapper{
    width:100%;
    height:100%;
    background-image:url(../assets/bg-header.jpg);
    background-size:cover;
}

.container{
    width:20%;
    height:70%;
    background-color:#2b2b2b;
    margin-right:0;
}

.container div:first-child{
    font-size:50px;
    color:white;
}

.navigation-bar{
    float:right;
}
.new-york-wrapper{
    background-image:url(../assets/concert-hall.jpg);
    width:33%;
    height:100%;
    background-size:cover;
    position:relative;
    padding:40px;
}

.new-york-wrapper div:first-child , .new-york-wrapper div:nth-child(2) ,
.gorizia-wrapper div:first-child , .gorizia-wrapper div:nth-child(2) ,
.london-wrapper div:first-child , .london-wrapper div:nth-child(2)
{
    color:white;
    font-family:sans-serif;
    font-size:25px;
}

.new-york-wrapper div:nth-child(2), 
.gorizia-wrapper div:nth-child(2),
.london-wrapper div:nth-child(2){
    padding-top:10px;
}

.new-york-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:120px;
    left:-50px;
    position:absolute;
}

.gorizia-wrapper{
    width:34%;
    height:100%;
    background-image:url(../assets/bedroom-2.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.gorizia-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:80px;
    left:-10px;
    position:absolute;
}

.london-wrapper{
    width:33%;
    height:100%;
    background-image:url(../assets/hotel.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.london-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:120px;
    left:-50px;
    position:absolute;
}

.paris-wrapper{
    width:33%;
    height:100%;
    background-image:url(../assets/bedroom-1.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.paris-wrapper div:first-child , .paris-wrapper div:nth-child(2) ,
.chicago-wrapper div:first-child , .chicago-wrapper div:nth-child(2) ,
.bucharest-wrapper div:first-child , .bucharest-wrapper div:nth-child(2)
{
    color:white;
    font-family:sans-serif;
    font-size:25px;
}

.paris-wrapper div:nth-child(2), 
.chicago-wrapper div:nth-child(2),
.bucharest-wrapper div:nth-child(2){
    padding-top:10px;
}

.paris-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:100px;
    left:-10px;
    position:absolute;
}

.chicago-wrapper{
    width:34%;
    height:100%;
    background-image:url(../assets/library.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.chicago-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:140px;
    left:-30px;
    position:absolute;
}

.bucharest-wrapper{
    width:33%;
    height:100%;
    background-image:url(../assets/kitchen.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.bucharest-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:100px;
    left:0px;
    position:absolute;
}

footer{
    width:100%;
    height:100%;
    background-color:#2b2b2b;
}