*{
    box-sizing:border-box;
}

html , body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.page-wrapper{
    width:100%;
    height:100%;
}

header{
    width:100%;
    height:50%;
}

section{
    width:100%;
    height:70%;
    display:flex;
    flex-direction:row;
}

.header-wrapper{
    width:100%;
    height:100%;
    background-image:url(../assets/bg-header.jpg);
    background-size:cover;
    display:flex;
    flex-direction:row;
}

.container{
    width:20%;
    height:70%;
    background-color:#2b2b2b;
    margin-right:0;
    padding:30px;
}

.wrapper{
    width:100px;
    height:50px;
    border-left:3px solid gray;
    margin: 10px 0px;
}

.instagram-icon i{
    width:20px;
    height:20px;
    color:gray;
}

.facebook-icon i{
    width:20px; /*nu stiu ce am gresit aici de nu mi mareste iconita */
    height:20px;
    color:gray;
}

.title{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    color:white;
    font-size:70px;
    padding-right:100px;
    font-family:sans-serif;
}

.container div:first-child{
    font-size:50px;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

.container-header{
    display: flex;
    flex-direction:column;
    width: 100%;
}
.navigation-bar{
   width:60%;
   height:40%;
   display: flex;
   justify-content:flex-end;
   justify-content: space-around;
   margin-left:150px;
   color:white;
   font-family:sans-serif;
   font-size:25px;
   margin-top:50px;
}

.new-york-wrapper{
    background-image:url(../assets/concert-hall.jpg);
    width:33%;
    height:100%;
    background-size:cover;
    position:relative;
    padding:40px;
}

/* aici puteai sa ai o clasa comuna pentru aces set de reguli, fara sa fi nevoita sa le enumeri pe toate individual, mult mai rpactic */
.new-york-wrapper div:first-child , .new-york-wrapper div:nth-child(2) ,
.gorizia-wrapper div:first-child , .gorizia-wrapper div:nth-child(2) ,
.london-wrapper div:first-child , .london-wrapper div:nth-child(2)
{
    color:white;
    font-family:sans-serif;
    font-size:25px;
}

.new-york-wrapper div:nth-child(2), 
.gorizia-wrapper div:nth-child(2),
.london-wrapper div:nth-child(2){
    padding-top:10px;
}

/* aici din nou, puteai extrage reguli comune, ai foarte mult cod care se repeta */
.new-york-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:120px;
    left:-50px;
    position:absolute;
}

.gorizia-wrapper{
    width:34%;
    height:100%;
    background-image:url(../assets/bedroom-2.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.gorizia-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:80px;
    left:-10px;
    position:absolute;
}

.london-wrapper{
    width:33%;
    height:100%;
    background-image:url(../assets/hotel.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.london-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:120px;
    left:-50px;
    position:absolute;
}

.paris-wrapper{
    width:33%;
    height:100%;
    background-image:url(../assets/bedroom-1.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.paris-wrapper div:first-child , .paris-wrapper div:nth-child(2) ,
.chicago-wrapper div:first-child , .chicago-wrapper div:nth-child(2) ,
.bucharest-wrapper div:first-child , .bucharest-wrapper div:nth-child(2)
{
    color:white;
    font-family:sans-serif;
    font-size:25px;
}

.paris-wrapper div:nth-child(2), 
.chicago-wrapper div:nth-child(2),
.bucharest-wrapper div:nth-child(2){
    padding-top:10px;
}

.paris-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:100px;
    left:-10px;
    position:absolute;
}

.chicago-wrapper{
    width:34%;
    height:100%;
    background-image:url(../assets/library.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.chicago-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:140px;
    left:-30px;
    position:absolute;
}

.bucharest-wrapper{
    width:33%;
    height:100%;
    background-image:url(../assets/kitchen.jpg);
    background-size:cover;
    position:relative;
    padding:40px;
}

.bucharest-wrapper div:last-child{
    color:white;
    font-family:sans-serif;
    font-size:25px;
    transform:rotate(-90deg);
    bottom:100px;
    left:0px;
    position:absolute;
}

footer{
    width:100%;
    height:80%;
    background-color:#2b2b2b;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.first-button{
    width:150px;
    height:50px;
    border-radius:25px;
    margin-top:50px;
    background-color:#3d3d3d;
    color:white;
}

.footer-title{
    display: flex;
    font-size:50px;
    margin:50px;
    font-family:sans-serif;
}

.footer-title div:first-child{
    color:white;
}

.footer-title div:last-child{
    margin-left:20px;
    color:#c09c78;
}

input{
    width:300px;
    height:50px;
    margin-top:30px;
    margin-right:30px;
    background-color:#3d3d3d;
}

::placeholder{
    color:white;
}
.wrapper-first-input{
    display:flex;
    flex-direction:column;
}

.wrapper-second-input{
    display:flex;
    flex-direction:column;
}

form{
    display:flex;
}

textarea{
    width:300px;
    height:130px;
    margin-top:30px;
    background-color:#3d3d3d;
}

.second-button{
    width:150px;
    height:50px;
    border-radius:25px;
    background-color:#c09c78;
    color:white;
    margin-top:50px;
}
.mobile-button{
    display:flex;
    justify-content: center;
}


@media(max-width:600px){
    /* nu inteleg de ce ai repetat regulile acestea, nu este nevoie odata ce le-ai specificat sus */
    .page-wrapper , html , body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
    }

    header{
        width:100%;
    }

    .wrapper{
        height:30px;
    }

    .container div:first-child{
        font-size:20px;
    }

    .navigation-bar-mobile{
        width:100%;
        height:10%;
        color:white;
        display:flex;
        justify-content:flex-end;
        padding:30px 30px 0px 0px;
        position:absolute;
        right:10px;
    }

    /* .navigation-bar-mobile i{
        width:300px;
        height:300px;
    } */

    .navigation-bar{
        display:none;
    }

    .title{
        position:relative;
        top: 200px;
        right:50px;
    }

    .container{
        height:50%;
    }

    section {
        display:flex;
        flex-direction:column;
        width:100%;
        height:100%;
    }

    .new-york-wrapper,
    .gorizia-wrapper,
    .london-wrapper,
    .paris-wrapper,
    .chicago-wrapper,
    .bucharest-wrapper{
        width:100%;
        height:70%; 
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }

    .new-york-wrapper p{
        transform:rotate(90deg);
    }

    .gorizia-wrapper div:last-child,
    .new-york-wrapper div:last-child,
    .london-wrapper div:last-child,
    .bucharest-wrapper div:last-child,
    .paris-wrapper div:last-child,
    .chicago-wrapper div:last-child{
        transform:rotate(0deg);
        /* aici trebuie sa mai lucrezi si la pozitionare, pentru ca mobile a ramas pozitionat absolut, desi in cazul aceasta ai nevoie doar de centrare */
        
    }

    .new-york-wrapper div:nth-child(2),
    .london-wrapper div:nth-child(2),
    .gorizia-wrapper div:nth-child(2),
    .bucharest-wrapper div:nth-child(2),
    .chicago-wrapper div:nth-child(2),
    .paris-wrapper div:nth-child(2){
        color:#c09c78 ;
        padding-left:5px;
        display: inline;
    }

    footer{
        width:100%;
        height:100%;
    }

    .footer-title{
        margin:10px;
        font-size:40px;
    }

    .first-button{
        display:none;
    }

    form{
        display: flex;
        flex-direction:column;
    }

    .wrapper-mobile{
        width:80%;
        margin:0 auto;
        height:80%;
    }

    input , textarea{
        width:100%;
    }

    .mobile-button{
        display:flex;
        justify-content: flex-end;
    }

    .second-button{
        height:35px;
        margin-top:30px;
    }
}